/node_modules
/.prettierrc.json
/**/__pycache__

# scraped collections
/scraper/scraped_collections/*.json
!/scraper/scraped_collections/sample_mirlclub.json

# api collections
/scraper/colletions/*

# assets
/scraper/assets/*
/env
/scraper/scraped-collections
