/node_modules
/.prettierrc.json
.DS_Store
/**/__pycache__

# scraped collections
/scraper/scraped-collections
!/scraper/scraped_collections/sample_mirlclub.json

# api collections
/scraper/colletions/*

# assets
/scraper/assets/*
/env
